/* Zdjęcia dodane przez Vojtech Okenka: https://www.pexels.com/pl-pl/zdjecie/babeczka-zwienczona-bialym-lukier-1055271/ */

html {
    font-size: 1.5rem;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 0, 0.3);
    /* background-color: rgba(221, 160, 221, 0.5); */
}

#carousel_container {
    padding: 1rem;
    background-color: lightblue;
    border-radius: 1rem;
    box-shadow: 0.1em 0.1em 0.2em lightblue;
}

.photos_container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    height: 20rem;
    width: 20rem;
    background-color: rgba(192, 192, 192, 0.5);
    border-radius: 2rem;
}

.photos_container img {
    width: 100%;
}

.buttons_container {
    display: flex;
    justify-content: center;
}

.button {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem 1rem 0 1rem;
    border-radius: 50%;
    /* box-shadow: inset 0 0 0.5em 0 rgba(205, 0, 205, 0.5),
        0 0 0.5em 0 rgba(205, 0, 205, 0.5); */
    /* or mayby this color rgb(255, 20, 189) */
    /* make button look like 3D - COOOL! */
    background-color: whitesmoke;
    background-image: linear-gradient(rgb(245, 245, 245), rgb(255, 255, 255));
    box-shadow: 0 0.1em 0.2em rgb(177, 177, 177), inset 0 0.1em 0.2em white;
}